
.homePage {
    padding: 60px 0;
    background:#1a1a1a;
    color: #ffffff;
}

.txtCenter {
    text-align: center;
}
.heading-title {
    font-size: 25px;
    color: #ff8a00;
    text-transform: uppercase;
    font-weight: 700;
}