
.video-thumb {
  position: relative;
  width: 180px;
  height: 290px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.video-thumb .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card-content {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  border-radius:  0 0 20px 20px;
  z-index: 1;
}

.card-content::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(185, 185, 185, .1);
  backdrop-filter: blur(5px);
  border-radius: 0 0 20px 20px;
  z-index: -1;
}

.card-content .card-name {
  color: #fff;
  font-size: 16px;
  padding: 5px 0 0 10px;
}

.card-content .genres {
  color: #fff;
  font-size: 13px;
  padding: 0 0 0 10px;
}

.card-content h6 {
  color: #fff;
  font-size: 13px;
  padding: 0 0 5px 10px;
}

.card-content h6 span{
  color: #000;
  background: yellow;
  padding: 2px 5px;
  border-radius: 5px;
}
.card-content h6 .bi{
  color: yellow;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}